#info{
	margin-bottom: 35px;
}

textarea{
	border: 1px solid rgb(61,201,179);
	resize: none;
}

label{
	transition: 1s;
	position: absolute;
	left: 17px;
	bottom: 90px;
}

#mandar{
	margin-right: 10px;
}